{% extends 'base.html' %}

{% load staticfiles %}

{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block head %}
<!-- Bootstrap core CSS -->
<!-- Add custom CSS here -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}
{% block content %}

<div class="container welcome-container">
  <div class="welcome">
    <div class="row">
      <h1 id="big-welcome">WELCOME</h1>
      <p>TO THE PRM HOMEPAGE</p>
      <div class="redline"></div>
      <p>additional stuff here</p>
    </div>
  </div>

  <div class="tab-descriptions">
    <a href="">
      <div class="tab-box">
        <div class="box-name">
          <p>nav1</p>
        </div>
        <div class="box-description">
          <p>description1</p>
        </div>
      </div>  
    </a>
    
    <a href="">
      <div class="tab-box">
        <div class="box-name">
          <p>nav2</p>
        </div>
        <div class="box-description">
          <p>description2</p>
        </div>
      </div>
    </a>
    
    <a href="">
      <div class="tab-box">
        <div class="box-name">
          <p>nav3</p>
        </div>
        <div class="box-description">
          <p>description3</p>
        </div>
      </div>
    </a>
    
    <a href="">
      <div class="tab-box">
        <div class="box-name">
          <p>nav4</p>
        </div>
        <div class="box-description">
          <p>description4</p>
        </div>
      </div>
    </a>
    
    <a href="">
      <div class="tab-box">
        <div class="box-name">
          <p>nav5</p>
        </div>
        <div class="box-description">
          <p>description5</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
